# Python bytecode / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
.env/

# Build / packaging
build/
dist/
*.egg-info/
.eggs/

# OS / IDE
.DS_Store
.idea/
.vscode/

# Logs / runtime
*.log


#playlist.json
*.json
/playlists.json
/playback_history.json

# Documentation (local only, not tracked)
doc/

# Executable files (except mpv.exe which is required)
*.exe
!mpv.exe
yt-dlp.exe
ffmpeg.exe

bin/
